<div class="container bigFooter background-primary" fxLayout="row wrap" fxLayout.lt-md="column"
  fxLayoutAlign="center center">

  <div fxFlex="100" fxFlex.gt-sm="90" class="footer">
    <div fxLayout="row" class="smallFooter">
      <div fxFlex="30" >
        <p>Contacts: <a href="mailto:support@onetwotruck.com?Subject=Support"><b>support@onetwotruck.com</b></a></p>
       
      </div>
      <div fxFlex="40">
        <p>© Copyright 2020 OneTwoTruck</p>
      </div>
      <div fxFlex="30">
          <a (click)="goToLink('https://www.iubenda.com/privacy-policy/42336067')">Privacy Policy</a>
      </div>
    </div>
  </div>
</div>