<div class="container-row">
    <div fxFlex fxFlexOffset="20px" class="full-width">

        <mat-horizontal-stepper linear #stepper>
            <mat-step [stepControl]="accountFormOne">
                <form novalidate [formGroup]="accountFormOne">
                    <ng-template matStepLabel></ng-template>
                    <p>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="legalName" placeholder="Ragione Sociale" type="text"
                                required>
                            <mat-error
                                *ngIf="accountFormOne.get('legalName').hasError('required') && accountFormOne.get('legalName').touched">
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="tin" placeholder="Partita IVA" type="text" required>
                            <mat-error
                                *ngIf="accountFormOne.get('tin').hasError('required') && accountFormOne.get('tin').touched">
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="legalLocation" placeholder="Sede Legale" type="text"
                                required>
                            <mat-error
                                *ngIf="accountFormOne.get('legalLocation').hasError('required') && accountFormOne.get('legalLocation').touched">
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="operationsLocation" placeholder="Sede Operativa"
                                type="text" required>
                                <mat-error
                                *ngIf="accountFormOne.get('operationsLocation').hasError('required') && accountFormOne.get('operationsLocation').touched">
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="legalNumber" placeholder="Codice di Trasporto" type="text" required>
                            <mat-error
                                *ngIf="accountFormOne.get('legalNumber').hasError('required') && accountFormOne.get('legalNumber').touched">
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="phoneNumber" placeholder="Numero di telefono" type="tel"
                                required>
                            <mat-error
                                *ngIf="accountFormOne.get('phoneNumber').hasError('required') && accountFormOne.get('phoneNumber').touched">
                            </mat-error>
                        </mat-form-field>
                    </p>
                    <p>
                       
                        <mat-form-field class="half-width">
                            <input matInput formControlName="email" placeholder="Email" type="email" required>
                            <mat-error
                                *ngIf="accountFormOne.get('email').hasError('required') && accountFormOne.get('email').touched">
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="half-width">
                            <input matInput formControlName="password" placeholder="Password" type="text" required>
                            <mat-error
                                *ngIf="accountFormOne.get('password').hasError('required') && accountFormOne.get('password').touched">
                            </mat-error>
                        </mat-form-field>
                   
                        <div>
                            <button class="button" mat-raised-button color="primary" matStepperNext>Prosegui</button>
                        </div>

                </form>
            </mat-step>

            <mat-step [stepControl]="accountFormTwo" [optional]="isOptional">
                <form [formGroup]="accountFormTwo">
                    <ng-template matStepLabel>Descrizione</ng-template>

                    <p><table class="half-width">
                        <td>Vuoi mettere anche te a disposizione i tuoi mezzi?
                            <mat-slide-toggle color=primary formControlName="availability"></mat-slide-toggle>
                        </td>
                    </table>
                    <br>
                    <p>Seleziona le merci di cui ti occupi</p>
                    <mat-selection-list color="primary" #product formControlName="product" class="half-width">
                        <mat-list-option value="General Cargo" >
                            General Cargo
                        </mat-list-option>
                        <mat-list-option  value="Catena del Freddo">
                            Catena del Freddo
                        </mat-list-option>
                        <mat-list-option  value="Alimentari">
                            Alimentari
                        </mat-list-option>
                        <mat-list-option  value="Merci Pericolose">
                            Merci Pericolose
                        </mat-list-option>
                        <mat-list-option  value="Trasporti Straordinari">
                            Trasporti Straordinari
                        </mat-list-option>
                      </mat-selection-list>
                    
                    <p>
                        <mat-form-field class="full-width">
                            <textarea matInput formControlName="description" placeholder="Racconta della tua azienda"
                                rows=12></textarea>
                        </mat-form-field>
                    </p>
                   
                    <div>
                        <button class="button" mat-raised-button color="primary" matStepperPrevious>Indietro</button>
                        <button class="button" mat-raised-button color="primary" matStepperNext (click)="onSubmit()">Prosegui</button>
                    </div>
                </form>
            </mat-step>

            <mat-step [optional]="isOptional">

                <ng-template matStepLabel >Esito</ng-template>
                <div class="esito">
                <h3>Ti sei registrato con successo</h3>
                <br>
                <br>
                <p>Premi indietro per modificare il tuo profilo oppure premi prosegui per iniziare</p>
                <br>
                <div>
                    <button class="button" mat-raised-button color="primary" matStepperPrevious>Indietro</button>
                    <button class="button" mat-raised-button color="primary" (click)="onDash()">Prosegui</button>
                </div></div>
            </mat-step>
        </mat-horizontal-stepper>

    </div>
</div>