
.dialog{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    flex-direction: column;
       
}

.element{
    margin:30px;
    width:100px;
}

.button{
    background-color: transparent !important;
    border:none !important;
    cursor: pointer !important;
    color: white;
    outline:none;
    font-size: 12pt;
}