<mat-toolbar color="primary">
   <div class="separator"><span routerLink="/dashboard"><img src="/assets/images/logo-white.svg" height=30 ></span></div> 
   <div class="separator"></div>
    <div class="separator">
    <a mat-button class="link" routerLink="/dashboard"><span class="fa fa-tachometer fa-lg"></span>Il mio profilo</a>
    <a mat-button class="link" routerLink="/search"><span class="fa  fa-search fa-lg"></span> Cerca</a>
    <a mat-button class="link" routerLink="/about"><span class="fa fa-info fa-lg"></span>Informazioni</a>
    <a mat-button class="link" href="mailto:support@onetwotruck.com?Subject=Support"><span class="fa fa-question fa-lg"></span> Aiuto</a></div>
  </mat-toolbar>
  
    