.logoPage{
    padding:40px;
}


.card{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    
}

.clickable{
    pointer-events: visible;
}
