
.fixedBox{
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
  }

  .footer{
      display:block;
      bottom: 0px;
      position: absolute;
      width: 100%;
  }

  .content{
    flex-shrink: 1;
    flex-grow: 1;
    overflow-y: auto; 
    max-height: 550px; 
    }
 