<div class="box">
    <h1 id="regolamento">Regolamento</h1>

<h2 id="lapiattaforma">La Piattaforma</h2>

<p>OneTwoTruck è una piattaforma di <em>matching</em> tra aziende e operatori (siano essi privati cittadini, ditte individuali, professionisti, o aziende strutturate) per strutturare rapporti di collaborazione in ambito logistico.
OneTwoTruck aiuta le aziende in difficoltà a organizzare o potenziare la propria struttura logistica e di consegna/distribuzione, mettendola in contatto con fornitori di servizi di trasporto autonomi.
OneTwoTruck contribuisce a velocizzare il processo di collaborazione offrendo un supporto automatizzato alla generazione di bozze di contratto, identificando in fase di connessione i termini del servizio e del corrispettivo. Tuttavia, OneTwoTruck non fornisce in alcun modo consulenza legale in ambito contrattuale, e non opera in alcun modo come azienda del lavoro, come mediatore del lavoro, o come consulente, nello specifico in relazione a contratti di somministrazione, riservati ex lege alle agenzie del lavoro abilitate.
OneTwoTruck fornisce esclusivamente un supporto web per connettere aziende e privati. Ogni trattativa finale, l'esecuzione del contratto, il controllo dello stesso e dell'operato, la valutazione e le modalità di pagamento sono interamente a carico delle parti, che si relazioneranno individualmente e al di fuori della piattaforma.
OneTwoTruck non fornisce in alcun modo una piattaforma di comunicazione diretta tra le parti, non raccoglie dati sul contratto e sulla sua esecuzione, e non è imputabile in opposizione al contratto firmato.</p>

<h2 id="gratuit">Gratuità</h2>

<p>La registrazione alla piattaforma e l'utilizzo della stessa sono gratuite per tutti gli utenti, e aperte a tutti gli utenti maggiorenni ovvero capaci, senza distinzione di sesso, etnia, religione, e in assenza di qualsiasi altra discriminazione.
La piattaforma registra unicamente il numero di contatti richiesti e per il servizio di collegamento e generazione automatizzata di bozze di contratto richiede un compenso, fatturato mensilmente, unicamente ai soggetti che ne fanno richiesta.
Produrre tramite la piattaforma una richiesta di contatto costituisce accettazione implicita dei termini di servizio e di questo regolamento, ivi incluso il corrispettivo per il servizio.</p>

<h2 id="regolamentoaziende">Regolamento Aziende</h2>

<p>Le aziende su OneTwoTruck possono contattare direttamente aziende, professionisti e privati cittadini per informarli della possibilità di fornire un supporto operativo in forma di servizi di trasporto. Tale informativa non costituisce ai sensi della legge offerta di lavoro, ma mera espressione di interesse a un contatto successivo, che si svolgerà al di fuori della piattaforma.
OneTwoTruck non partecipa in alcun modo a tali comunicazioni tra le parti, non raccoglie dati in merito e non agisce da intermediatore, agente, né consulente.
A valle di ogni richiesta di contatto, OneTwoTruck genera automaticamente una bozza di contratto. La piattaforma non è responsabile in alcun modo dell'esecuzione del contratto e delle clausole in esso contenute, la cui stesura finale è riservata alla libera contrattazione tra le parti.
OneTwoTruck riceve un compenso commisurato alle richieste di contatto, meramente limitate all'accesso a dati sensibili per il contatto diretto tra le parti (numero di telefono e email).
L'unico servizio che l'utente Azienda riceve da OneTwoTruck è relativo alla stesura automatizzata di una bozza di contratto e al contatto con l'utente presente sulla piattaforma, da intendersi pertanto come servizio di <em>matching</em> tra le richieste e le libere inserzioni degli utenti.</p>

<h2 id="regolamentoprivatieaziendefornitoridiservizi">Regolamento Privati e Aziende Fornitori di Servizi</h2>

<p>I fornitori di servizi di trasporto presenti sulla piattaforma pubblicano, liberamente e interamente responsabili della veridicità del contenuto pubblicato, di cui OneTwoTruck si libera, informazioni relative alla propria attività. La pubblicazione sulla piattaforma è da intendersi come semplice bacheca online e non come domanda di lavoro in relazione a una specifica offerta.
OneTwoTruck non raccoglie dati quali curriculum vitae e non opera sulla piattaforma, né in modo manuale né in modo automatico, in modo tale da intermediare o fornire servizio di consulenza al <em>matching</em> tra le parti. Le richieste di contatto, l'accettazione e le seguenti conversazioni sono interamente e liberamente gestite dalle parti.
OneTwoTruck, inoltre, non integra alcun tipo di algoritmo definito brevemente come <em>machine learning</em> o intelligenza artificiale per ordinare i profili degli utenti in fase di ricerca e/o visualizzazione, non agendo così in alcun modo da intermediario, mediatore o facilitatore.
OneTwoTruck non è responsabile in alcun modo della stesura successiva del contratto, della coerenza tra la bozza e la versione finale del contratto, dell'esecuzione o risoluzione dello stesso, né dei pagamenti dei corrispettivi pattuiti. Ciò è rimesso esclusivamente alla libera contrattazione tra le parti e ogni disputa dev'essere risolta nel foro competente indicato nella stesura finale del contratto firmato dalle parti.
OneTwoTruck non fornisce alcun servizio di pubblicità o marketing online, non viene fornito alcun servizio di posizionamento all'interno e all'esterno della piattaforma, né in fase di visualizzazione dei profili né durante la ricerca degli stessi.</p>

<h2 id="materialepubblicato">Materiale Pubblicato</h2>

<p>Il materiale pubblicato è sotto l'esclusiva responsabilità degli utenti, e OneTwoTruck non è in alcun modo responsabile del materiale pubblicato dagli utenti registrati sulla piattaforma. 
OneTwoTruck si riserva il diritto di cancellare unilateralmente qualsiasi contenuto considerato offensivo, riconducibile a incitamento all'odio, alla discriminazione di razza, sesso e religione, o comunque lesivo della privacy, dei buoni rapporti tra le parti e della <em>netiquette</em>, o comunque in contrasto con le leggi vigenti, a suo insindacabile e inappellabile giudizio.
Allo stesso modo OneTwoTruck si riserva di rendere inaccessibile a un utente l'accesso al proprio account per le stesse motivazioni di cui sopra, o per qualsiasi altro utilizzo improprio della piattaforma.
OneTwoTruck si libera dalla responsabilità di qualsiasi interazione che non avviene sulla piattaforma, anche se generata tramite contatti ricevuti o ottenuti tramite l'utilizzo della stessa.
OneTwoTruck non è responsabile dell'utilizzo improprio di dati personali o sensibili ottenuti tramite la piattaforma e/o tramite successive comunicazione avvenute al di fuori della piattaforma. L'utente, registrandosi, accetta la Privacy Policy che libera OneTwoTruck di ogni responsabilità non relativa al trattamento dei dati per fini direttamente riconducibili all'utilizzo della piattaforma.</p>

<h2 id="accettazioneimplicita">Accettazione Implicita</h2>

<p>L'utente, registrandosi a OneTwoTruck, accetta implicitamente questo regolamento e si impegna ad attenersi alle norme ivi incluse, di operare correttamente sulla piattaforma, in rispetto degli amministratori della piattaforma e degli altri utenti.</p>
</div>
