<div class="container" fxLayout="column" fxLayoutGap="10px">

  <div fxFlex="70">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3>{{user.legalName}}</h3>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>{{user.description}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" style="margin-right:5px;"(click)="sendRequest()">Genera contratto</button>
        <button mat-button (click)="goBack()">Indietro</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div fxFlex></div>
</div>