<div class="container" fxLayout="row" >

  <div class="box" >
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>
          <h1>{{user.legalName|uppercase}}</h1>
          <h4>{{user.type}}</h4>
        </mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <h3>Prodotti: {{user.product}}</h3>
        <p>{{user.description}}
        </p>
      </mat-card-content>
      <mat-card-actions class="button">
        <button mat-raised-button color="primary" style="margin-right:5px;"(click)="sendRequest()">Genera contratto</button>
        <button mat-button (click)="goBack()">Indietro</button>
      </mat-card-actions>
    </mat-card>
  </div>
  
</div>