img{
    width: 200px;
    margin-left:50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.column{
    flex-direction: column;
}

.display{
    margin: 0 auto;
    width: max-content;
 
}