
  <div class="container-row logoPage">
  <div fxFlex="75">
<div class="title">
  <img class="logo" src="/assets/images/logo-white.png" width="500px">
<h2 class="subtitle">Potenzia la tua logistica con un click.</h2>
</div>
<div class="space"></div>
    <mat-carousel 
    timings="250ms ease-in"
    [autoplay]="true"
    interval="5000"
    color="primary"
    maxWidth="500px"
    
    proportion="50"
    slides="4"
    [loop]="true"
    [hideArrows]="true"
    [hideIndicators]="false"
    [useKeyboard]="true"
    [useMouseWheel]="false"
    orientation="ltr"
  >
    <mat-carousel-slide
      #matCarouselSlide
     *ngFor="let slide of slides; let i = index"
     
      [hideOverlay]="true"
    >
   <div class="row"> <img src="{{slide.image}}" width="40px" class="icon">
    <h3>{{slide.title}}</h3></div>
    <p class="textCarousel">{{slide.content}}</p>
  </mat-carousel-slide>
  </mat-carousel>

  </div>
  <div fxFlex="25">
    <mat-card id="card" class="card">
      <mat-card-title>
        Login
      </mat-card-title>
      <div *ngIf="message" class="alert">Email e/o passwor errata</div>
      <mat-card-content class="contentCard">
        <form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <input matInput placeholder="Email" formControlName="email" >
          </mat-form-field><br />
          <mat-form-field>
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>
          <button mat-raised-button color="primary" style="margin-right:5px;" type="submit">Login</button>
        </form>
      </mat-card-content>
      <p class="clickable" (click)="openDialog()">Registrati</p>
    </mat-card>
  </div>

</div>
