<div class="container about" fxLayout="column" fxLayoutGap="10px">


    <div fxFlex>
        <div fxLayout="column" >
            <div fxFlex="70">
                <h2>La Nostra Ispirazione</h2>
                <p>La pandemia globale di Covid-19 ci ha posti di fronte a nuove sfide.</p>
                <p>La necessità di un lockdown delle attività produttive nel paese ha portato inevitabilmente 
                    a colli di bottiglia in settori chiave come la logistica della grande distribuzione, la 
                    quale si è trovata a fronteggiare un aumento esponenziale della domanda di consegne di spesa 
                    a casa, e si è trovata impossibilitata a rispettare tempi di consegna accettabili in tempi 
                    di crisi.</p>
                <p>Piccole imprese, negozi, ristoranti, professionisti... In molti si sono trovati da un 
                    giorno all'altro in difficoltà a operare normalmente, nonostante dovessero fronteggiare 
                    gli stessi costi di sempre.</p>
                <p>In questo scenario, tuttavia, esistono notevoli opportunità di collaborazione e di 
                    semplificazione.</p>
                <p><b>OneTwoTruck</b> nasce per rendere più flessibile il mondo della logistica e delle 
                    consegne, dando la possibilità a chi ha bisogno di risorse per consegnare in tempo beni, 
                    alimentari, medicine, ecc... di trovare persone o aziende disposte a dare il loro 
                    supporto, in modo facile e veloce, ricevendo supporto alla formalizzazione contrattuale 
                    in modo automatico.</p>
                <p><b>OneTwoTruck</b> sostiene la logistica e dà una possibilità a chi ora è a casa ma ha 
                    mezzi a disposizione, di dare il proprio contributo, e sostenere il proprio reddito.</p>
            </div>
            
           
       
            <div fxFlex="70">
                <h2>Il Team</h2>
                <p><em>"A ciascuno il suo".</em></p>
                <p>Uniamo skills in ambito tecnologico e business, per portare alla luce un prodotto 
                    innovativo e funzionale, la cui utilità possa andare oltre questa emergenza e contribuire 
                    in futuro a reimmaginare le modalità di collaborazione in ambito logistico e supply chain.</p>
            </div>
            <hr>
            <div fxFlex="70">
                <h3>Nadia Poli</h3>
                <p>Laureata in Ingegneria dell'Automazione presso il Politecnico di Milano, in OneTwoTruck si 
                    è occupata dell'architettura di progetto e dello sviluppo del software e del frontend.</p>
                <p>Da sempre appassionata di tecnologia, sviluppo, robotica e sue applicazioni, è una fornace
                     di idee e progetti.</p>
                <p>Attualmente impegnata a CrispyBacon come intern in ambito frontend development.</p>
                <br>
                <h3>Max Brigonzi</h3>
                <p>Laureato in Imprenditorialità e Management Internazionale presso l'Università 
                    dell'Insubria, si è occupato in OneTwoTruck della parte business, dello studio dei 
                    processi, supervisione legale, e di visual design della communicazione. Da dieci anni 
                    nel settore startup, ha lavorato come consulente strategico, direttore di ricerca in 
                    ambito innovazione, e ora ricopre il ruolo di General Manager presso un'azienda 
                    tecnologica milanese in ambito cybersecurity e decompilatori.</p>
                
            </div>
            <hr>
            <div fxFlex="70">
                <h2>Vision</h2>
                <p>L'idea di OneTwoTruck è nata durante un periodo di profonda emergenza.</p>
                <p>Ma noi vogliamo guardare oltre.</p>
                <p>Il progetto può evolvere ed essere applicato a diversi momenti di stress del settore logistico, dai periodi di festività, ai picchi di domanda come il Black Friday.</p>
                <p>Garantire flessibilità di acquisizione di risorse umane nel settore logistico può aumentare la capillarietà delle consegne, sostenere professionisti in difficoltà, garantire servizi essenziali e dare respiro al settore in crescita dell'home delivery.</p>
                <p>Sappiamo che il progetto attualmente ha un livello di maturità tecnologica essenziale, ma abbiamo fiducia che -con le dovute implementazioni- potrà portare a un cambiamento positivo in un settore che ha ancora tanta fame di innovazione.</p>
            </div>
           
        </div>
    </div>

    
    
    
    
   
   

</div>

