<div class="container-column" fxLayout="column" fxLayoutGap="10px">
  <div fxFlex="70">
    <mat-list>
      <mat-list-item *ngFor="let user of users" [routerLink]="['/data', user.id]">
        <img *ngIf="user.type=='Azienda'" matListAvatar src="/assets/images/icon-aziende.svg" title="Azienda">
        <img *ngIf="user.type=='Privato'" matListAvatar src="/assets/images/icon-privati.svg" title="Privato">
        <h1 matLine> {{user.legalName}} </h1>
        <p matLine>
          <span> {{user.type}} </span>
        </p>
        <p matLine>
          <span> {{user.operationsLocation}} </span>
        </p>
        <p matLine>
          <span> {{user.product}} </span>
        </p>
        <p matLine>
          <span> {{user.description}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>